.body {
  color: #3b3b3b;
}


a:link {
  color: #216cb8;
  text-decoration: none;
}

a:active {
  color: #216cb8;
  text-decoration: none;
}

a:visited {
  color: #216cb8;
  text-decoration: none;
}

a:hover {
  color: #216cb8;
  text-decoration: underline;
}