*.obj
*.user
[Dd]ebug
[Rr]elease
obj
[Bb]in
*.ncb
*.suo
*.dsk
*.~*
*.a
*.ddp
*.so
*.o
*.lo
*.gcda
*.la
*.libs
*.deps
*.gcno
*.gcov
*~
._.*
*~.nib
*.local
Lib_Commercial
Lib_Debug
Lib_Release
public_interface
__history
.metadata
Common.mak
Makefile
Makefile.in
configure
config.cache
autom4te.cache
config.log
depcomp
config.guess
config.h
ltmain.sh
config.sub
mkinstalldirs
config.status
stamp-h1
config.h.in
libtool
missing
aclocal.m4
install-sh
grts/*
*.Load
*.NoLoad
TestResults
MySQLWorkbench1.vsmdi
[Rr]elease_OSS
wiztest
boxtest
*.bak
tags
genobj
genwrap
test_all
Params.inc
build-stamp
configure-stamp
MySQLWorkbench.desktop
build/mysql-workbench.spec
debian/mysql-workbench
frontend/linux/shell/grtshell
frontend/linux/workbench/mysql-workbench-bin
template_dictionary_nothreads_unittest
template_dictionary_unittest
template_modifiers_nothreads_unittest
template_modifiers_unittest
template_nothreads_unittest
template_setglobals_nothreads_unittest
template_setglobals_unittest
template_unittest
diff_tpl_auto_escape
generate_fsm_c_test
htmlparser_nothreads_test
htmlparser_test
make_tpl_varnames_h
statemachine_test
template_nothreads_regtest
template_regtest
template_test_util_nothreads_test
template_test_util_test
output/*
../../../debian/files
../../../debian/mysql-workbench.substvars
files
mysql-workbench.substvars
*.pbxuser
*.mode2v3
ext/scintilla/cocoa/ScintillaTest/build
.DS_Store
MySQLWorkbench.build
*.perspectivev3
ext/scintilla/cocoa/ScintillaFramework/build
mergechset
plugins/wb.admin/.project
plugins/wb.admin/.pydevproject
build/mysqlworkbench-template.dmg
*.wb50.mwb
CodeAnalyst
*.aps
*.egg
*.egg-info
*.pyc
*.pyo
*.vs10x
*.opensdf
*.sdf
ipch
*.pdb
backend/wbpublic/wbpublic.be.sdf
xcuserdata
*.xcworkspace
plugins/migration/doc/_*
m4
log
parser-opt
wb_config.h
DerivedData
_build
_build/*
mysqlauditadmin
mysqlauditgrep
*.cmake
CMakeFiles
Thumbs.db
scheme.prop
libmysqlclient.dylib
cairo.py
cairo_wrap.cxx
mforms.py
mforms_wrap.cxx
library/sql-parser/source/windows/myx_sql_parser.output
build/msi/distribution/
build/zip/distribution/
*.wixpdb
MySQL.tokens
config.cnf
wb-build/
*.kdev4
.autotools
.cproject
.project
.pydevproject
.settings/

library/parsers/ECMAParser.*
library/parsers/ECMALexer.*
library/parsers/ECMA.tokens
library/parsers/mysql/MySQLParser*
library/parsers/mysql/MySQLLexer*

RE:testing/python/test_results_.*\.txt(\.[0-9])?
wb-build
library/parsers/antlr
.vscode
*.[Vv][Cc].db
*.[Vv][Cc].opendb
.vs/
test-results.json
