;
; The MySQL database server configuration file.
#
[client]
port = 3307user = mysqluser = mysql# The following values assume you have at least 32M ram
[mysqld_safe]
socket		= /var/run/mysqld/mysqld.sock

[isamchk]
key_buffer		= 16M
buffer = 16k[mysqld]
user		= mysql
bind-address = 127.0.0.1myisam-recover		= BACKUP
basedir = /var/mysqldatadir = /var/mysql/data[mysqldump]
quick = 
[mysql]
no-auto-rehash	# faster start of mysql but no tab completition

[dummy1]
[dummy2]
[dummy3]

!includedir /etc/mysql/conf.d/
